*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    
}

.card{
    background-color: #e4f2fd;
    overflow: hidden;
    width: 400px;
    height: 500px;
}
.card-img{
    width: 100%;
    height:400px;
    position: relative;
    margin: 0 0 20px 0;

}

.card-img-info{
    position: absolute;
    display: flex;
    gap: 20px;
    bottom: 10px;
    left: 20px;
}

.card-img-info-sect{
    color:#fff;
}
.card-profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 1rem 1rem 1rem;
    gap: 10px;
}

.card-profile-img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    
}

.card-profile-img-info h2{
    font-size:1.3rem;
    color: #334454;
}
.card-profile-img-info p{
    font-size:.9rem;
    color: #a1b2bc;
}