*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.btn-dark{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--white-color);
    position: fixed;
    right: 30px;
    top: 20px;
}

.dark{
    color: white;
    background: #000;
}