*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.hamburger{
    display: flex;
    align-items: center;
    gap: 5px;

}
.line{
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: #000;
    position: relative;
    margin-bottom: 3px;

}
.line::before{
    content: " ";
    top: 7px;
    position: absolute;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: #000;
    transition: transform .1s ease-in-out;
}
.line::after{
    content: " ";
    top: -7px;
    position: absolute;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: #000;
    display: none;
    transition: transform .1s ease-in-out;
}
.nav-deploy{
    position: absolute;
    background-color: #edf0f7;
    height: 100vh;
    width: 100%;
    top: 80px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
}

.nav-deploy.nav-active{
    transform: translateX(0);
}
.nav-links{
    font-size: 2rem;
    text-align: center;
    margin: 0 0 40px 0;
}
.nav-links li{
    margin: 0 0 30px 0;
}
.social-links{
    display: flex;
    gap: 40px;
    font-size: 20px;
}
.nav-deploy.active{
    transform: translateX(0);
}

.header-title{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.header-title h1{
    font-size: 5rem;
    font-weight: 200;
}
.header-title h3{
    font-size: 1.3rem;
    color: gray;
}

.grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 10px;
    max-width: 1100px;
}
.card{
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.remo{
    display: flex;
    flex-direction: column;
}


.a{
    grid-column: span 5;
    background-image: url("./assets/img1.png");
    grid-row: span 2;
    background-color: rgb(55, 55, 236);
    
}

.b{
    grid-column: span 5;
    grid-row: span 4;
    background-image: url("./assets/img2.png");
    color: #000;
    background-color: #eceef4;
 
}
.c{
    grid-column: span 5;
    grid-row: span 3;
    background-image: url("./assets/img3.png");
    background-color: #fdba85;
    color: brown;
 
}
.d{
    grid-column: span 5;
    grid-row: span 1;
    height: 200px;
    background-image: url("./assets/img4.png");
    background-color: #f9e29e;
    color: brown;

  
}
.e{
    grid-column: span 4;
    grid-row: span 2;
    height: 200px;
    background-image: url("./assets/img5.png");
    background-color: #8db8e2;
    color: #1b4670;
}
.f{
    grid-column: span 6;
    grid-row: span 2;
    height: 200px;
    background-image: url("./assets/img6.png");
    background-color: #a9d6d1;
    color: #287e74;
    background-position: top center;
}
footer{
    background-color: #edf0f7;
    padding: 30px 0;
    margin: 50px 0 0 0;
}
.footer{
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 50px;
}

.footer-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-content img{
    max-width: 100px;
}
.footer-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-social ul{
    display: flex;
    align-items: center;
    gap:20px
}
.footer-content a {
    text-decoration: none;
    color: chocolate;
}

.grid-columns{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
    gap: 20px;
}

.hamburger.active{
    gap: 30px;
}
.hamburger.active .line{
    width: 1px;
    height: 1px;

}
.hamburger.active .line::before{
    transform: rotate(-45deg);
    top: -1px;
}
.hamburger.active .line::after{
    display: inline-block;
    transform: rotate(45deg);
    top: -1px;
}



@media screen and (max-width:800px) {
    .header-title h1{
        font-size: 3rem;
        text-align: center;
    }
    .header-title h3{
        font-size: 0.7rem ;
        text-align: center;

    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,300px);

    }
    .a,.b,.c,.d,.e,.f{
        grid-column: span 1;
        grid-row: span 1;
    }
    .d,.e,.f{
        height: auto;
    }
    .footer{
        grid-template-columns: 1fr;
    }
}